.com-drag {
  -webkit-app-region: drag;
}

.com-noDrag {
  -webkit-app-region: no-drag;
}

.com-textLimit {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.com-rootContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
