@import
  './flex.scss',
  './common.scss'
;

html, body {
  margin: 0;
  font-size: 14px;
}

*:not(input):not(button) {
  user-select: none;
}

.snackWarning:not(foo) {
  background-color: #f77e26;
}

.MuiButton-sizeSmall:not(foo) {
  font-size: 13px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #666;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0,0,0,.25);
  background-color: transparent;
  position: absolute;
}
